* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    background: rgb(22, 48, 83);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height:100vh;
    background-image: url("./images/ritam-baishya-ROVBDer29PQ-unsplash.jpg");
    background-size: cover;
    background-color: rgba(22,48,83,0.5);
    background-blend-mode: darken;
    color: #fff;
    justify-content: center;
    grid-gap: 1em;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    min-height: 1000px;

}
.holder{

}

.entry{
    background: rgba(59, 74, 107, .4);
}

#entryHolder{
    margin-left: 30px;
    margin-bottom: 30px;
    color: #f0d43a;
}

#date{

}

#temp{

}

#content{

}

.headline {
    font-size: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    border-bottom: 1px solid #fff;
    text-align: center;
    background-color: rgba(10, 41, 88, 0.7);
    margin-top: 5px;
    padding-bottom: 5px;
    letter-spacing: 2px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background: transparent;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-bottom: 2px solid #fff;
}

button{
    width: 400px;
    height: 50px;
    background: rgb(10, 41, 88);
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    margin-top: 3px;
    margin-left: 25%;
    cursor: pointer;
}

h1{
    font-size: 36px;
}

textarea{
    width: 100%;
    height: 30%;
    background:rgba(77, 108, 150, 0.7);
    color: rgb(240, 212, 58);
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d53a7e; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d53a7e; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d53a7e; 
    font-family: 'Oswald', sans-serif;

} 